<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings>
    <add name="SISTEMA" connectionString="Data Source=CHOI;Initial Catalog=DCI_Core;Integrated Security=True;Connect Timeout=0"
         providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory >
      <!-- SQLServer -->
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">SqlServer</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!-- Fim SQLServer -->
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="command_timeout">120</property>
      <property name="adonet.batch_size">1000</property>
      <property name="current_session_context_class">NHibernate.Context.CallSessionContext</property>
      <property name="show_sql" xdt:Locator="Match(name)" xdt:Transform="Remove"></property>
      <property name="use_sql_comments" xdt:Locator="Match(name)" xdt:Transform="Remove"></property>
      <property name="format_sql" xdt:Locator="Match(name)" xdt:Transform="Remove"></property>
      <property name="cache.use_query_cache">true</property>
      <property name="generate_statistics" xdt:Locator="Match(name)" xdt:Transform="Remove"></property>
      <property name="hbm2ddl.auto" xdt:Locator="Match(name)" xdt:Transform="Remove"></property>

      <mapping assembly="RequisicaoAX.Mapping" />
    </session-factory>
  </hibernate-configuration>
  
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>