<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_DlvDlvModeService" />
                <binding name="NetTcpBinding_DlvDlvTermService" />
                <binding name="NetTcpBinding_CurrencyService" />
                <binding name="NetTcpBinding_MarkupMarkupTableService" />
                <binding name="NetTcpBinding_PurchRFQPaymTermsService" />
                <binding name="NetTcpBinding_PurchRFQSitesService" />
                <binding name="NetTcpBinding_PurchRFQUnitService" />
                <binding name="NetTcpBinding_CustomerService" />
                <binding name="NetTcpBinding_HcmWorkerImportService" />
                <binding name="NetTcpBinding_PurchReqImportService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/CustCustomerServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CustomerService"
                contract="Customer.CustomerService" name="NetTcpBinding_CustomerService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/HcmWorkerImportServices"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_HcmWorkerImportService"
                contract="HcmWorker.HcmWorkerImportService" name="NetTcpBinding_HcmWorkerImportService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DlvDlvModeService"
                contract="Purch.DlvDlvModeService" name="NetTcpBinding_DlvDlvModeService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_DlvDlvTermService"
                contract="Purch.DlvDlvTermService" name="NetTcpBinding_DlvDlvTermService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CurrencyService"
                contract="Purch.CurrencyService" name="NetTcpBinding_CurrencyService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_MarkupMarkupTableService"
                contract="Purch.MarkupMarkupTableService" name="NetTcpBinding_MarkupMarkupTableService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PurchReqImportService"
                contract="Purch.PurchReqImportService" name="NetTcpBinding_PurchReqImportService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PurchRFQPaymTermsService"
                contract="Purch.PurchRFQPaymTermsService" name="NetTcpBinding_PurchRFQPaymTermsService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PurchRFQSitesService"
                contract="Purch.PurchRFQSitesService" name="NetTcpBinding_PurchRFQSitesService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://saxdev:8201/DynamicsAx/Services/PurchRFQ"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PurchRFQUnitService"
                contract="Purch.PurchRFQUnitService" name="NetTcpBinding_PurchRFQUnitService">
                <identity>
                    <userPrincipalName value="svc.aos@cardexpress.corp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>